<div *ngIf="subLayerGroup.name === null">
  <ul>
    <li *ngFor="let layer of subLayerGroup.layers">
      <app-layer [layer]="layer" (visibilityChanged)="onLayerVisibilityChanged(layer, $event)"></app-layer>
    </li>
  </ul>
</div>

<div *ngIf="subLayerGroup.name !== null" class="sub-layer-group">
  <div class="sub-layer-group-header" (click)="toggleShow()">
      <h6>
          <i *ngIf="show" class="btn fa fa-caret-down"></i>
          <i *ngIf="!show" class="btn fa fa-caret-right"></i>
          {{ subLayerGroup.name }}
      </h6>
  </div>
  <div [ngClass]="{'d-none': !show}" class="sub-layer-group-body">
      <ul>
          <li *ngFor="let layer of subLayerGroup.layers">
            <app-layer [layer]="layer" (visibilityChanged)="onLayerVisibilityChanged(layer, $event)"></app-layer>
          </li>
      </ul>
  </div>
</div>
