<div *ngIf="subLayerGroup.name === null || subLayerGroup.name == ''">
  <ul>
    <li *ngFor="let layer of subLayerGroup.layers">
      <app-layer [layer]="layer" (visibilityChanged)="onLayerVisibilityChanged(layer, $event)"></app-layer>
    </li>
  </ul>
</div>

<div *ngIf="subLayerGroup.name !== null && subLayerGroup.name !== ''" class="sub-layer-group secondary">
  <div class="sub-layer-group-header">
    <div class="sub-layer-group-title" (click)="toggleShow()">
      <i *ngIf="show" class="btn fa fa-fw fa-caret-down"></i>
      <i *ngIf="!show" class="btn fa fa-fw fa-caret-right"></i>
      {{ subLayerGroup.name }}
    </div>
    <div (click)="onToggleLayers()" class="visible-layers">
        <span class="badge" [tooltip]="visibleLayers + ' active. Click to toggle all layers in this sub-group'">
          {{ visibleLayers }}
        </span>
      </div>
  </div>
  
  <div [ngClass]="{'closed': !show}" class="sub-layer-group-body">
    <ul>
      <li *ngFor="let layer of subLayerGroup.layers">
        <app-layer [layer]="layer" (visibilityChanged)="onLayerVisibilityChanged(layer, $event)"></app-layer>
      </li>
    </ul>
  </div>

</div>