<app-controls-container id="legends">
    <span header>LEGEND</span>
    <ng-container body>
        <ul *ngIf="(visibleLayers$ | async).length; else no_visible_layers" class="legend-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <li class="legend-item" cdkDrag cdkDragBoundary="#legends"
                *ngFor="let legend of visibleLayers$ | async">
              <div>
                  <i class="material-icons small" cdkDragHandle>drag_indicator</i>
              </div>
              <div style="flex-grow: 1;">
                  <app-legend-item [legend]="legend"></app-legend-item>
              </div>
              <div>
                  <i class="material-icons small" (click)="removeLegend(legend.layerId)">close</i>
              </div>
            </li>
          </ul>
          <ng-template #no_visible_layers>No layers selected</ng-template>
    </ng-container>
</app-controls-container>
