#legends {
    position: absolute;
    left: 1rem;
    top: 4rem;
}

.legend-list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    list-style: none;
}


.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    list-style: none;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.material-icons.small {
    font-size: 1rem;
    cursor: pointer;
    color: midnightblue;
}

.legend-item {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin: 0 -0.5rem;
    padding: 0.5rem;
}