#appContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#leftPane {
    position: absolute;
    left: 1rem;
    top: 4rem;
    display:flex;
    flex-direction: column;
}

/* legend */
#legendPane {
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.5s;
    height: 100%;
}

#legendPane.show {
    padding: 10px;
    width: 30%;
    overflow-y: auto;
}
