@import '../variables.scss';

#appContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#appOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
}

#layersPanel {
    pointer-events: auto;
    width: 20rem;
    box-shadow: $container-shadow;
    overflow-y: auto;
    transition: margin-left 350ms ease-out;
    margin-left: -20rem;
}

#layersPanel.open {
    margin-left: 0;
}

#viewportPanel {
    position: relative;
    padding-left: 1rem;
    flex-grow: 1;
    overflow: hidden;
}

#overviewMap, #featureInfos, #legend {
    pointer-events: auto;
}

#gazetteer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    pointer-events: auto;
}

#toggleLayers {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.25rem;
    margin-left: -1rem;
    box-shadow: $container-shadow;
    pointer-events: auto;
}

#controlsToolbar {
    position: fixed;
    bottom: 3.5rem;
    right: 1rem;
    box-shadow: $container-shadow;
    pointer-events: auto;
}
