<div id="appContainer">
    <app-map></app-map>
    <div id="appOverlay">

        <div id="layersPanel" class="secondary" [ngClass]="{ 'open': showLayers }">
            <div class="panel-title title">
                <div>
                    <h2>
                        ALL LAYERS
                    </h2>
                </div>
                <div>
                    <i class="btn fa fa-lg fa-close" (click)="onToggleShowLayers()"></i>
                </div>
            </div>
            <app-layers></app-layers>
        </div>
        <div id="viewportPanel">
            <div id="toggleLayers" class="primary" (click)="onToggleShowLayers()">
                <i *ngIf="!showLayers" class="btn fa fa-fw fa-2x fa-bars"></i>
            </div>
            <app-active-layers></app-active-layers>
            <app-gazetteer id="gazetteer"></app-gazetteer>
            <div id="overviewMap"></div>

        </div>

        <app-legend id="legend"></app-legend>
        <app-feature-infos id="featureInfos"></app-feature-infos>
        <app-controls-toolbar id="controlsToolbar"></app-controls-toolbar>
        <div id="mousePosition"></div>
        <div id="attribution"></div>
    </div>
    <!-- <app-map-instances></app-map-instances> -->
    <!-- <app-map-info></app-map-info> -->
</div>