<div class="controls-container" id="active-layers" cdkDrag>
    <div class="controls-container-header bg-primary" (click)="toggleShow()">
        <h6>
            <i *ngIf="show" class="btn fa fa-caret-down"></i>
            <i *ngIf="!show" class="btn fa fa-caret-right"></i>
            <span>ACTIVE LAYERS</span>
        </h6>
    </div>
    <div *ngIf="show" class="controls-container-body">
        <ul *ngIf="(visibleLayers$ | async).length; else no_visible_layers" class="active-layers-list" cdkDropList
            (cdkDropListDropped)="drop($event)">
            <li class="active-layer" cdkDrag cdkDragBoundary="#active-layers"
                *ngFor="let layer of visibleLayers$ | async">
                <app-active-layer [layer]="layer" (showOpacity)="openOpacity($event, layer)"
                    (openFilter)="openFilter(layer)"></app-active-layer>
            </li>
        </ul>
        <ng-template #no_visible_layers>No active layers</ng-template>
    </div>
</div>

<ng-template #opacityOverlay let-activeLayer>
    <div class="opacity-overlay">
        <div>Opacity</div>
        <app-slider-control [value]="activeLayer.opacity" (valueChanged)="onOpacityChanged($event, activeLayer)">
        </app-slider-control>
    </div>
</ng-template>

<ng-template #filterOverlay let-activeLayer>
    <app-filter-controls [layer]="activeLayer" (closeFilter)="closeFilter()"></app-filter-controls>
</ng-template>