.layer {
    display:flex;
    padding: 0.5rem;
    user-select: none;
}

.layer-toggle, .layer-name {
    margin-left: 0.5rem;
}

.layer-toggle {
  display: flex;
  justify-content: space-between;
}

.layer-name {
    flex-grow: 1;
    cursor: pointer;
}

.layer.tertiary {
  display: flex;
  justify-content: space-between;
}

span.badge {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fff;
  float: right;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 1rem;
  background-color: rgb(90, 90, 90);
  cursor: default;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 1.4rem;
    height: 0.8rem;
    margin: auto;
    line-height: 1;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .on.slider {
    background-color: gray;
  }
  
  .on.slider:before {
    -webkit-transform: translateX(13px);
    transform: translateX(0.5rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
