@page
@model jncc_web_api.Pages.Gazetteers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gazetteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gazetteer.GazetteerId" />
            <div class="form-group">
                <label asp-for="Gazetteer.Name" class="control-label"></label>
                <input asp-for="Gazetteer.Name" class="form-control" />
                <span asp-validation-for="Gazetteer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gazetteer.Category" class="control-label"></label>
                <input asp-for="Gazetteer.Category" class="form-control" />
                <span asp-validation-for="Gazetteer.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gazetteer.Xmin" class="control-label"></label>
                <input asp-for="Gazetteer.Xmin" class="form-control" />
                <span asp-validation-for="Gazetteer.Xmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gazetteer.Ymin" class="control-label"></label>
                <input asp-for="Gazetteer.Ymin" class="form-control" />
                <span asp-validation-for="Gazetteer.Ymin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gazetteer.Xmax" class="control-label"></label>
                <input asp-for="Gazetteer.Xmax" class="form-control" />
                <span asp-validation-for="Gazetteer.Xmax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gazetteer.Ymax" class="control-label"></label>
                <input asp-for="Gazetteer.Ymax" class="form-control" />
                <span asp-validation-for="Gazetteer.Ymax" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gazetteer.Imported" /> @Html.DisplayNameFor(model => model.Gazetteer.Imported)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
