// We need to use ::ng-deep to overcome view encapsulation

:host ::ng-deep {
    *:focus {
        outline: none;
    }

    .custom-slider {
      height: 2rem;
    }

    .custom-slider .ng5-slider {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .custom-slider .ng5-slider .ng5-slider-bar {
      background: lightgrey;
      height: 10px;
      border-radius: 5px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background:gray;
      border-radius: 5px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 16px;
      height: 16px;
      top: auto; // to remove the default positioning
      bottom: -9px;
      background-color: white;
      border: 2px solid lightgrey;
      border-radius: 50%;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      display: none;
    }
  }
  