/* GetFeatureInfo Styles */

/* Default Geoserver featureInfo table */
table.featureInfo {
    border-collapse: collapse;
    margin: 1rem;
}

table.featureInfo, table.featureInfo th, table.featureInfo td {
    border: 1px solid black;
}

table.featureInfo th {
    background-color: #0A71B4;
    color: white;
    font-weight: 400;
}

table.featureInfo td {
    background-color: white;
    color: black;
    font-weight: 400;
}

table.featureInfo caption {
    font-size: 2rem;
    color: black;
    text-align: left;
}
