@import '../../variables.scss';

#featureInfoPane {
    width: 30%;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin-right: -30%;
    background-color: white;
    transition: margin-right 350ms ease-out;
    height: 100%;
    box-shadow: $container-shadow;
    // overflow: hidden;
}

#featureInfoPane.show {
    margin-right: 0;
    overflow-y: auto;
    overflow-x: auto;
}

.feature-info-body {
    padding: 1rem;
    overflow: visible;
}

.overflow {
    overflow-x: auto;
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.highlighted-layer {
    background-color: aliceblue;
}

h3.highlighted-layer {
    font-size: 16px;
}