
.material-icons.drag {
    cursor: pointer;
}

.active-layer {
    background-color: white;
}

.active-layer-header {
    display: flex;
    // align-items: center;
    justify-content: space-between;

}

.active-layer-title {
    display: flex;
    align-items: center;
}

.active-layer {
    border: 1px solid lightgrey;
    border-radius: 2px; 
    padding: 0.5rem 0.5rem 0.5rem 0;
    width: 20rem;
}

.active-layer-body {
    display: flex;
    justify-content: flex-end;
}
