
.material-icons.drag {
    cursor: pointer;
}

.active-layer {
    background-color: white;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 2px; 
    box-shadow: 0 0 10px -4px;
    justify-content: space-between;
}

.active-layer-header {
    display: flex;
    justify-content: space-between;

}

.active-layer-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active-layer-name {
    margin-bottom: 0.5rem;
}

.active-layer-close {
    border-left: 1px solid lightgray;
}

.active-layer-body {
    display: flex;
    justify-content: flex-end;
}

.drag-handle {
    border-right: 1px solid lightgray;
}
