
.active-layer {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 2px; 
    box-shadow: 0 0 10px -4px;
    margin-bottom: 0.25rem;
}

.active-layer-main {
    display: flex;
}

.active-layer-header {
    display: flex;
    justify-content: space-between;

}

.active-layer-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active-layer-content {
    flex-grow: 1;
    padding: 0.25rem;
}

.active-layer-body {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.drag-handle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.active-layer-control {
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.unavailable {
    cursor: auto;
}

.active-layer-opacity {
    border-top: 1px solid lightgray;
    display: flex;
    padding: 0.25rem;
}

.opacity-label {
    padding-top: 0.5rem;
}

.opacity-slider {
    flex-grow: 1;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.opacity-value {
    padding-top: 0.5rem;
    width: 2rem;
}
