<div class="active-layer">
    <div class="drag-handle">
        <i tooltip="move layer" class="material-icons drag" cdkDragHandle>drag_indicator</i>
    </div>
    <div class="active-layer-content">
        <div class="active-layer-name">
            {{layer.name}}
        </div>

        <div class="active-layer-body">
            <div>
                <i *ngIf="filtered" class="fa fa-sm fa-filter"></i>
            </div>
            <div [tooltip]="'opacity ' + layer.opacity">
                <i class="btn fa fa-lg fa-adjust" (click)="onShowOpacity($event)"></i>
            </div>
            <div tooltip="show legend">
                <i class="btn fa fa-lg fa-list-ul" (click)="onShowLegend()"></i>
            </div>
            <div tooltip="zoom to layer extent">
                <i class="btn fa fa-lg fa-globe" (click)="onZoomToLayerExtent()"></i>
            </div>
            <div tooltip="download data" *ngIf="layer.downloadURL">
                <a [href]="layer.downloadURL" target="_blank">
                    <i class="btn fa fa-lg fa-download"></i>
                </a>
            </div>
            <div tooltip="view metadata" *ngIf="layer.metadataUrl">
                <a [href]="layer.metadataUrl" target="_blank">
                    <i class="btn fa fa-lg fa-info-circle"></i>
                </a>
            </div>

            <div tooltip="filter layer" *ngIf="layer.filters && layer.filters.length">
                <i class="btn fa fa-lg fa-filter" (click)="onOpenFilter()"></i>
            </div>
        </div>

    </div>
    <div class="active-layer-close">
            <i tooltip="remove layer" class="btn fa fa-lg fa-close" (click)="onRemoveLayer()"></i>
    </div>
    


</div>