:host {
  width: 100%;
  max-height: 80vh;
}

#filter-settings .controls-container-header {
    justify-content: space-between;
    cursor: auto;

}

#filter-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.controls-container-body {
  padding-right: 20px; // fix ie11 scrollbar overlapping internal scrollbars before window resize
  overflow-y: auto;
  overflow-x: hidden;
}

.close {
  width: 20px;
}