<div id="legendPane" [ngClass]="{ 'show': show }" class="bg-secondary">
    <div *ngIf="legend">
        <div class="panel-title bg-dark">
            <div>
                <i class="btn fa fa-lg fa-close" (click)="onHideLegend()"></i>
            </div>
            <div>
                <h2>
                    LEGEND
                </h2>
            </div>

        </div>
        <div class="legend-title bg-primary">
            <h2>{{ legend.name }}</h2>
        </div>
        <div class="legend-body">
            <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <img #legendImage [hidden]="loading" [src]="legend.legendUrl" (load)="onLegendImageLoaded()" alt="legend">
        </div>
    </div>
</div>