@import '../../variables.scss';

#legendPane {
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    transition: width 350ms ease-out;
    height: 100%;
    box-shadow: $container-shadow;
}

#legendPane.show {
    width: 30%;
    overflow-y: auto;
    overflow-x: auto;
}

#legendPane img {
    visibility: hidden;
}

#legendPane.show img {
    visibility: visible;
}

.legend-title {
    padding: 1rem;
}

.legend-body {
    padding: 0.5rem;
}