@page
@model jncc_web_api.Pages.LayerGroups.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LayerGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LayerGroup.LayerGroupId" />
            <div class="form-group">
                <label asp-for="LayerGroup.Name" class="control-label"></label>
                <input asp-for="LayerGroup.Name" class="form-control" />
                <span asp-validation-for="LayerGroup.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerGroup.Description" class="control-label"></label>
                <input asp-for="LayerGroup.Description" class="form-control" />
                <span asp-validation-for="LayerGroup.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerGroup.MapInstanceId" class="control-label"></label>
                <select asp-for="LayerGroup.MapInstanceId" class="form-control" asp-items="ViewBag.MapInstanceId"></select>
                <span asp-validation-for="LayerGroup.MapInstanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
