  <div class="controls-toolbar">
      <i tooltip="base maps" class="btn fa fa-fw fa-lg fa-map-o"(click)="onShowBaseMaps($event)"></i>
      <i class="btn fa fa-fw fa-lg"></i>
      <i tooltip="zoom in" class="btn fa fa-fw fa-lg fa-plus" (click)="onZoomIn()"></i> 
      <i tooltip="zoom out" class="btn fa fa-fw fa-lg fa-minus" (click)="onZoomOut()"></i>
      <i tooltip="zoom to map extent" class="btn fa fa-fw fa-lg fa-globe" (click)="onZoomToMapExtent()"></i>
      <i tooltip="drag zoom in" class="btn fa fa-fw fa-lg fa-search-plus" [class.active]="zoomInToExtentActivated" (click)="onZoomInToExtent()"></i>
      <i tooltip="drag zoom out" class="btn fa fa-fw fa-lg fa-search-minus" [class.active]="zoomOutToExtentActivated" (click)="onZoomOutToExtent()"></i>
  </div>

  <ng-template #baseLayersOverlay>
      <div class="controls-container" id="filter-settings" cdkDrag>
          <div class="controls-container-header">
              <h6>
                  <span>BASE LAYERS</span>
              </h6>
              <div>
                  <i class="btn fa fa-close" (click)="closeBaseLayers()"></i>
              </div>
              <app-base-layers></app-base-layers>
          </div>
      </div>
  </ng-template>
