.add-external-layers {
    display: flex;
    cursor: pointer;
}

.external-layers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

.control {
    width: 20px;
}

.center-y {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}