<div class="layer-group bg-secondary">
    <div class="layer-group-header bg-primary" (click)="toggleShow()">
        <div>
            <i *ngIf="show" class="btn fa fa-fw fa-caret-down"></i>
            <i *ngIf="!show" class="btn fa fa-fw fa-caret-right"></i>
        </div>
        <div>
            {{ layerGroup.name }}
        </div>
        <div>
            <span *ngIf="visibleLayers" class="badge">
                {{ visibleLayers }}
            </span>
        </div>
    </div>
    <div [ngClass]="{'closed': !show}" class="layer-group-body">
        <ul>
            <li *ngFor="let subLayerGroup of layerGroup.subLayerGroups">
                <app-sub-layer-group [subLayerGroup]="subLayerGroup"
                    (layerVisibilityChanged)="onLayerVisibilityChanged($event)"></app-sub-layer-group>
            </li>
        </ul>
    </div>
</div>