<div class="layer-group bg-secondary">
    <div class="layer-group-header bg-primary">
        <div class="layer-group-title" (click)="onToggleShow()">
            <div>
                <i *ngIf="show" class="btn fa fa-fw fa-caret-down"></i>
                <i *ngIf="!show" class="btn fa fa-fw fa-caret-right"></i>
                {{ layerGroup.name }}
            </div>
        </div>

        <div (click)="onToggleLayers()" class="visible-layers">
            <span class="badge" [tooltip]="visibleLayers + ' active. Click to toggle all layers in this group'">
                {{ visibleLayers }}
            </span>
        </div>
    </div>
    <div [ngClass]="{'closed': !show}" class="layer-group-body">
        <ul>
            <li *ngFor="let subLayerGroup of layerGroup.subLayerGroups">
                <app-sub-layer-group [subLayerGroup]="subLayerGroup"
                    (layerVisibilityChanged)="onLayerVisibilityChanged($event)"></app-sub-layer-group>
            </li>
        </ul>
    </div>
</div>