@import '../../../variables.scss';

span.badge {
    font-size: 0.7rem;
    background-color: $text-color;
    color: #fff;
    float: right;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1rem;
}

.layer-group-body.closed {
    height: 0;
    overflow: hidden;
}

.layer-group-header {
    display: flex;
    cursor: pointer;
    padding: 5px;
    line-height: 1rem;
    color: white;  
}