@import '../../../variables.scss';

span.badge {
    font-size: 0.7rem;
    color: #fff;
    float: right;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1rem;
    background-color: rgb(90, 90, 90);
}

.layer-group-body.closed {
    height: 0;
    overflow: hidden;
    border-bottom: 1px groove rgba(0, 0, 0, 0.25);
}

.layer-group-header {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    line-height: 1rem;
    color: white;  
}

.visible-layers {
    padding: 0.25rem;
}