@page
@model JNCCMapConfigEditor.Pages.LayerConfigItem.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LayerConfigItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LayerConfigItem.LayerConfigId" />
            <div class="form-group">
                <label asp-for="LayerConfigItem.Name" class="control-label"></label>
                <input asp-for="LayerConfigItem.Name" class="form-control" />
                <span asp-validation-for="LayerConfigItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerConfigItem.Value" class="control-label"></label>
                <input asp-for="LayerConfigItem.Value" class="form-control" />
                <span asp-validation-for="LayerConfigItem.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerConfigItem.Comment" class="control-label"></label>
                <input asp-for="LayerConfigItem.Comment" class="form-control" />
                <span asp-validation-for="LayerConfigItem.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerConfigItem.UpdatedDate" class="control-label"></label>
                <input asp-for="LayerConfigItem.UpdatedDate" class="form-control" />
                <span asp-validation-for="LayerConfigItem.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerConfigItem.LayerId" class="control-label"></label>
                <select asp-for="LayerConfigItem.LayerId" class="form-control" asp-items="ViewBag.LayerId"></select>
                <span asp-validation-for="LayerConfigItem.LayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
