
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

@import "~@angular/cdk/overlay-prebuilt.css";

@import './variables.scss';

html, body {
  height: 100%;
}

html {
    box-sizing: border-box;
    background-color: white;
  }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-family;
  font-weight: 400;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 600;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: $text-color;
}
  
ol, ul {
  list-style: none;
}
  
img {
  // max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: $button-padding;
}

.btn.active {
  background-color: aliceblue;
}

.ol-dragzoom {
  border: 2px midnightblue dashed;
  background-color: rgba(255, 255, 255, 0.3);
}

.ol-scale-line {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: auto;
  background: rgba(0,60,136,0.7);
}

div#mousePosition {
  position: absolute;
  right: 8rem;
  bottom: 1rem;
  width: 10rem;
  background-color: green;
  background-color: white;
  padding: $container-padding;
  pointer-events: none;
}

div.custom-mouse-position {
  min-height: 1rem;
}

.cdk-overlay-dark-backdrop {
  background-color: transparent;
}

/*
table.featureInfo {
  border-collapse: collapse;
  border: 1px solid grey;
  margin: 1rem;
}
table.featureInfo th, table.featureInfo td {
  border: 1px solid grey;
}

caption.featureInfo {
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
*/

// #active-layers {
//   position: absolute;
//   left: 20rem;
//   top: 10rem;
// }