
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

@import "~@angular/cdk/overlay-prebuilt.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import './variables.scss';

html, body {
  height: 100%;
}

html {
    box-sizing: border-box;
    background-color: white;
  }
  
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-family;
  font-weight: 400;
  color: $text-color;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 600;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: $text-color;
}
  
ol, ul {
  list-style: none;
}
  
img {
  height: auto;
}

.d-none {
  display: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: $button-padding;
}

.btn.active {
  background-color: aliceblue;
}



// CDK BACKDROP

.cdk-overlay-dark-backdrop {
  background-color: transparent;
}

// CONTROLS CONTAINER
.controls-container {
  user-select: none;
  border-radius: $container-border-radius;
  box-shadow: $container-shadow;
  background-color: white;
}

.controls-container-header {
  display: flex;
  align-items: center;
  padding: $container-padding;
  border-bottom: 1px solid $border-color;
  border-radius: $container-border-radius;
  cursor: pointer;
}

.controls-container-body {
  padding: $container-padding;
}

.controls-container-footer {
  padding: $container-padding;
}

.panel-title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  
}

.panel-title h2 {
  font-size: 1rem;
  color: white;
}

.dialog-button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// OPENLAYERS CONTROLS AND CONTAINERS

.ol-scale-line {
  position: absolute;
  bottom: 2.5rem;
  right: 14.5rem;
  left: auto;
  background: white;
  border-radius: 0;
}

.ol-scale-line-inner {
  color: $text-color;
  border-color: $text-color;
}

div#mousePosition {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  height: 1.25rem;
  width: 13rem;
  background-color: white;
  padding-left: 5px;
  pointer-events: none;
  box-shadow: $container-shadow;
}

div.custom-mouse-position {
  min-height: 1rem;
}

#attribution {
  position: absolute;
  bottom: 0.75rem;
  right: 14.5rem;
  box-shadow: $container-shadow;
  background-color: white;
}

.ol-attribution.ol-uncollapsible {
  position: relative;
  height: auto;
  pointer-events: auto;
  max-width: none;
  border-radius: 0;
}

// hide openlayers link and icon on attribution control
.ol-attribution a[href="https://openlayers.org/"] {
  display: none;
}

/* Overlay panel classes */

.map-info-overlay {
 min-width: 500px;
 max-width: 60%;
}

.filter-overlay {
  min-width: 500px;
  max-width: 60%;
  max-height: 80vh;
}