$main-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;
$border-color: rgb(190, 190, 190);
$container-padding: 0.5rem;
$button-padding: 0.25rem;
$container-shadow: 0 0px 20px 0 rgba(0, 0, 0, .25);
$container-border-radius: 3px 3px 0px 0px;
$text-color: rgb(90, 90, 90);