@page
@model jncc_web_api.Pages.Layers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Layer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Layer.LayerId" />
            <div class="form-group">
                <label asp-for="Layer.Name" class="control-label"></label>
                <input asp-for="Layer.Name" class="form-control" />
                <span asp-validation-for="Layer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.MetadataDescription" class="control-label"></label>
                <input asp-for="Layer.MetadataDescription" class="form-control" />
                <span asp-validation-for="Layer.MetadataDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.MetadataUrl" class="control-label"></label>
                <input asp-for="Layer.MetadataUrl" class="form-control" />
                <span asp-validation-for="Layer.MetadataUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.DownloadURL" class="control-label"></label>
                <input asp-for="Layer.DownloadURL" class="form-control" />
                <span asp-validation-for="Layer.DownloadURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.SubLayerGroup" class="control-label"></label>
                <input asp-for="Layer.SubLayerGroup" class="form-control" />
                <span asp-validation-for="Layer.SubLayerGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.Url" class="control-label"></label>
                <input asp-for="Layer.Url" class="form-control" />
                <span asp-validation-for="Layer.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerName" class="control-label"></label>
                <input asp-for="Layer.LayerName" class="form-control" />
                <span asp-validation-for="Layer.LayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LegendLayerName" class="control-label"></label>
                <input asp-for="Layer.LegendLayerName" class="form-control" />
                <span asp-validation-for="Layer.LegendLayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerOrder" class="control-label"></label>
                <input asp-for="Layer.LayerOrder" class="form-control" />
                <span asp-validation-for="Layer.LayerOrder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Layer.LayerVisible" /> @Html.DisplayNameFor(model => model.Layer.LayerVisible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerOpacity" class="control-label"></label>
                <input asp-for="Layer.LayerOpacity" class="form-control" />
                <span asp-validation-for="Layer.LayerOpacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerCentreLon" class="control-label"></label>
                <input asp-for="Layer.LayerCentreLon" class="form-control" />
                <span asp-validation-for="Layer.LayerCentreLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerCentreLat" class="control-label"></label>
                <input asp-for="Layer.LayerCentreLat" class="form-control" />
                <span asp-validation-for="Layer.LayerCentreLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerZoom" class="control-label"></label>
                <input asp-for="Layer.LayerZoom" class="form-control" />
                <span asp-validation-for="Layer.LayerZoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerDefaultOrder" class="control-label"></label>
                <input asp-for="Layer.LayerDefaultOrder" class="form-control" />
                <span asp-validation-for="Layer.LayerDefaultOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerDownloadLayer" class="control-label"></label>
                <input asp-for="Layer.LayerDownloadLayer" class="form-control" />
                <span asp-validation-for="Layer.LayerDownloadLayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer.LayerGroupId" class="control-label"></label>
                <select asp-for="Layer.LayerGroupId" class="form-control" asp-items="ViewBag.LayerGroupId"></select>
                <span asp-validation-for="Layer.LayerGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
