#external-layers.controls-container {
  width: 600px;
}

#external-layers .controls-container-header {
  justify-content: space-between;
  cursor: auto;
}

.external-layers-container {
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .25);
}

.external-service-text input {
  width: 100%;
}

.external-services {
  margin: 1rem 0;
}

select, option, input {
  color: rgb(90, 90, 90);
}

.external-services select {
  width: 100%;
}

.close {
  width: 16px;
}
