@page
@model jncc_web_api.Pages.MapInstances.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MapInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MapInstance.MapInstanceId" />
            <div class="form-group">
                <label asp-for="MapInstance.Name" class="control-label"></label>
                <input asp-for="MapInstance.Name" class="form-control" />
                <span asp-validation-for="MapInstance.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.Description" class="control-label"></label>
                <input asp-for="MapInstance.Description" class="form-control" />
                <span asp-validation-for="MapInstance.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.Attribution" class="control-label"></label>
                <input asp-for="MapInstance.Attribution" class="form-control" />
                <span asp-validation-for="MapInstance.Attribution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.MapCentreLon" class="control-label"></label>
                <input asp-for="MapInstance.MapCentreLon" class="form-control" />
                <span asp-validation-for="MapInstance.MapCentreLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.MapCentreLat" class="control-label"></label>
                <input asp-for="MapInstance.MapCentreLat" class="form-control" />
                <span asp-validation-for="MapInstance.MapCentreLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.MapZoom" class="control-label"></label>
                <input asp-for="MapInstance.MapZoom" class="form-control" />
                <span asp-validation-for="MapInstance.MapZoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.MaxZoom" class="control-label"></label>
                <input asp-for="MapInstance.MaxZoom" class="form-control" />
                <span asp-validation-for="MapInstance.MaxZoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.BaseLayerList" class="control-label"></label>
                <input asp-for="MapInstance.BaseLayerList" class="form-control" />
                <span asp-validation-for="MapInstance.BaseLayerList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapInstance.VisibleBaseLayer" class="control-label"></label>
                <input asp-for="MapInstance.VisibleBaseLayer" class="form-control" />
                <span asp-validation-for="MapInstance.VisibleBaseLayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
